@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
  background-color: #ffdad7;
}
h1 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  margin-top: 0;
  font-size: 3rem;
  /* color: white; */
  background: rgba(255, 255, 255, 0.342);
  padding: 2rem;
}
.GroceryApp {
  background-color: #ffce85;
  width: 350px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 4px 6px 8px 0px #c5a9a8;
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
}
.GroceryApp-title {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #00000067;
  padding-bottom: 0.5rem;
}
.GroceryApp-form {
  margin-bottom: 10px;
}
button {
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}
