.GroceryListItem li {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.GroceryListItem button {
  border-radius: 20%;
  border: none;
  margin: 5px;
}

.GroceryListItem-rm-btn {
  background-color: #ffce85;
}

.GroceryListItem-qty-btn {
  background-color: white;
}
