.GroceryListItem li {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
}

.GroceryListItem-rm-btn {
  background-color: #ffce85;
  margin-left: auto;
}

.GroceryListItem-completed {
  color: grey;
  text-decoration: line-through;
}
box-icon {
  cursor: pointer;
  margin: 0.2rem;
}
